// CSS RESET

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

input,
button {
    font: inherit;
}

// GENERAL STYLES

body {
    font-family: "Josefin Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.main {
    @media only screen and (min-width: 75em) {
        display: grid;
        grid-template-columns: 445px 610px;
        grid-template-rows: 244px 404px 152px;
        column-gap: 220px;
        width: 1440px;
        margin: 0 auto;
        padding-left: 165px;
        position: relative;
    }
}

.bg-pattern {
    display: none;

    @media only screen and (min-width: 75em) {
        display: block;
        // width: 788px;
        // height: 800px;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
    }
}

.h1 {
    color: #423a3a;
    letter-spacing: 10.8254px;
    font-size: 40px;
    line-height: 42px;
    font-weight: 600;
    text-transform: uppercase;

    &--up {
        display: block;
        font-weight: 300;
        color: #ce9898;
    }

    &--middle {
        display: block;
    }

    &--down {
        display: block;
    }

    @media only screen and (min-width: 75em) {
        letter-spacing: 17.3206px;
        font-size: 64px;
        line-height: 64px;
    }
}

.paragraph {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #ce9898;

    @media only screen and (min-width: 75em) {
        font-size: 16px;
        line-height: 28px;
    }
}

// UTILITIES

.u-margin-bottom-16px {
    margin-bottom: 16px;

    @media only screen and (min-width: 75em) {
        margin-bottom: 32px;
    }
}

.u-margin-bottom-32px {
    margin-bottom: 32px;

    @media only screen and (min-width: 75em) {
        margin-bottom: 40px;
    }
}

// END
