// CSS RESET

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

input,
button {
    font: inherit;
}

// GENERAL STYLES

body {
    font-family: "Josefin Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.main {
    // background-image: url(./images/bg-pattern-desktop.svg);
}

// END
